/* *** Estilos personalizados para el tema Nar Trans *** */

/* *** Base Styles *** */
/* Base Theme */
p {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    line-height: 1.61;
}

p, small, .date, a {
    line-height: 1.4;
    color: $color-main;
}

$p-t: 2rem;
$p-b: 2rem;
.section-p-t-b {
    padding-top: $p-t;
    padding-bottom: $p-b;
    @include breakpoint(large) {
      $p-t: 4rem;
      $p-b: 4rem;
      padding-top: $p-t;
      padding-bottom: $p-b;
  }
}

.m-b {
    margin-bottom: .5rem;
}

/* Fin base */


/* *** Foundation Styles *** */
.main-grid {
  margin-top: 0rem;

  @include breakpoint(medium) {
    margin-top: 0rem;
  }
}


.grid-container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  //max-width: 100rem;
  margin: 0 auto; }
  @media print, screen and (min-width: 40em) {
    .grid-container {
      padding-right: 0rem;
      padding-left: 0rem;
    }
}



  @media print, screen and (min-width: 40em) {
    h1, .h1 {
      font-size: 1.5rem;
      font-weight: 600;}
    h2, .h2 {
      font-size: 1.2rem;
      font-weight: 600;}
    h3, .h3 {
      font-size: 1.9375rem; }
    h4, .h4 {
      font-size: 1.5625rem; }
    h5, .h5 {
      font-size: 1.25rem; }
    h6, .h6 {
      font-size: .946rem; }
  }
  /* *** Fin Tamaños de los headers */

/* *** Cards *** */
.card {
    border: 3px solid $color-main;
    background-color: transparent;
    overflow: visible;
    color: $color-main;
    position: relative;

    img {
      border-bottom: 3px solid $color-main;
      min-width: 100%;
      height: auto;
      object-fit: cover;
    }

    @include breakpoint(large) {
    }

    .card-section {
      padding: 1.275rem 0.8125rem;

      @include breakpoint(large) {
          padding: 1.8125rem 1.625rem;
      }

      .title-up {
        text-transform: uppercase;
        display: inline-table;
        font-size: rem-calc(12);
        font-weight: 600;
        letter-spacing: .8px;
        padding: .2em 1em;
        position: absolute;
        top: -0.9rem;
        left: 10px;
      }
    }
} // Fín custom card





    /* *** End Foundation Styles *** */

  /* *** Nar Trans Styles Utilities *** */
$font-enfasis: rem-calc(60);
.H-enfasis {
  font-size: $font-enfasis;
  font-weight: 600;
  //letter-spacing: normal;
  line-height: 1;
  margin-bottom: 1.876rem;
}

.Txt {
  font-weight: 500;
  font-size: 1.5em;
}

.M-b {
  margin-bottom: 1em;
}

.M-t {
  margin-top: 2em;
}

.M-t-b {
  margin-top: 1em;
  margin-bottom: 1em;
}

.M-l-r {
  margin-left: .5em;
  margin-right: .5em;
}

.P-t {
  padding-top: rem-calc(90);
}

.P-b {
  padding-bottom: rem-calc(80);
}


.public-date {
  font-size: .8em;
}


.P-l-r {
  $p-l: 1rem;
  $p-r: 1rem;
  padding-left: $p-l;
  padding-right: $p-r;

}
.P-container {
  $p-l: 0.9375rem;
  $p-r: 0.9375rem;
  padding-left: $p-l;
  padding-right: $p-r;

  @include breakpoint(medium) {}

}

/* *** Estilos para el Page Template - home-page *** */

