/* *** Estilos personalizados para las entradas *** */


/* *** Single Researcher *** */

/* Aside card de single researcher */

.single-post {
    padding-bottom: 6rem;
  
    .content p {
      padding: 0 0 1.8125rem 0;
    }
  }
  
  .title-attachment {
      display: inline-table;
      font-size: rem-calc(16);
      font-weight: 600;
    }
  
  /*
	==========================================
	 Single - post styles
	==========================================
*/

.single-cpt {
  background-color: $color-main;
}

.featured-hero {
  height: rem-calc(250);
  width: 100%;
  @include breakpoint(medium) {
    height: rem-calc(500);
    background-position: left top;
  }
}

.featured-hero.event-hero {
  min-width: 100vw;
}

/*
	==========================================
	 Archive - Archive styles
	==========================================
*/
