.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

/* foundation override styles */
.button.success {
  background-color: blueviolet;
  color: #FFF;
  transition: all 1s ease;
}

  .button.success:hover, .button.success:focus {
    background-color: #fff ;
    color: blueviolet;
    border: 1px solid blueviolet;
    opacity: .85;
  }


  /* Custon Nar Trans Style */
  // Ancho personalizado botón expandido cuando la celdas del grid tienen un grid-margin-x
  @include breakpoint(large) {
    .button.expanded{
        width: calc( 100% - 1rem );
        //margin-right: 1.625rem;
        margin-left: 0.625rem; 
    }
}

